/*HEADER STYLING*/
@media screen and (min-width: 1280px){

    .header {
        min-width: 1280px;
        height: 50px;
       
    }
    
    .header-container {
        display: flex;
        align-content: center;
        justify-content: center;
    padding: auto;
    background-color: #fff;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px
}

// .header-menu {
//     display: flex;
//     align-items: center;
// }

.menu .li-menu .a-menu {
    text-decoration: none;
    color: #AE1332;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.56px;
}

.header-logo {
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 8px;
}

.logo-text {
    text-decoration: none;
    color: #AE1332;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.uilcart {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 32px;
}

.cart {
    display: flex;
    align-items: center;
    
}



/*END OF HEADER STYLING*/
}