.modal {
    width: 891px;
    height: 911px;
   border-style: dashed;
    border-radius: 20px;
    background: #fff;
    }

.modal-close-btn {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    color: #AE1332;
    border: none;
    background-color: #fff;
    padding: 0;
}


.modalheader {
    color: #AE1332;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    /* 110% */
    letter-spacing: -1.6px;
    text-transform: uppercase;
    width: 232px;
    height: 44px;
}

.basket {
    width: 257px;
    height: 308px;
    flex-shrink: 0;
    border-radius: 20px;
}

.strawberrybasket {
    border-radius: 20px;
    background: #F8766B;
}

.checkcontainer {
    width: 20px;
    height: 20px;
    color:#fff;
    border-radius: 5px;
    border-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 14px;
    margin-left: 223px;
    
}

.checkbox {
    border-color: #fff;
}

.basket-fruit {
    color: #FFF;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.96px;
}

.basketplant {
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
}










@media screen and (min-width: 1280px) {

.modalbtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
    margin-right: 28px;
   
}

.modalheader {
    margin-left: 40px;
    margin-top: 0px;
}


.basketcontainer {
    display: flex;
    box-sizing: border-box;
    gap: 20px;
}

.basket-fruit {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.basketplant {
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.basketpic {
    justify-self: center;
    margin-left: 42px;
    margin-bottom: 14px;
}












}








