<section class="fruits-section" id="fruits">
  <div class="fruits container">
    <h2 class="fruits-title">ORGANIC FRUITS</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <li class="fruits-items strawberry">
        <h3 class="fruits-items-title">Strawberry</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/strawberry.png  295w,
              /src/images/fruits/strawberry2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/strawberry.png"
            alt="Strawberry"
          />
        </div>
        <p class="fruits-items-price">100 UAH / kg</p>
      </li>
      <li class="fruits-items banana">
        <h3 class="fruits-items-title">Banana</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/banana.png  295w,
              /src/images/fruits/banana2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/banana.png"
            alt="Banana"
          />
        </div>
        <p class="fruits-items-price">80 UAH / kg</p>
      </li>
      <li class="fruits-items watermelon">
        <h3 class="fruits-items-title">Watermelon</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/watermelon.png  295w,
              /src/images/fruits/watermelon2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/watermelon.png"
            alt="Watermelon"
          />
        </div>
        <p class="fruits-items-price">40 UAH / kg</p>
      </li>
      <li class="fruits-items lime">
        <h3 class="fruits-items-title">Lime</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/lime.png  295w,
              /src/images/fruits/lime2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/lime.png"
            alt="Lime"
          />
        </div>
        <p class="fruits-items-price">60 UAH / kg</p>
      </li>
      <li class="fruits-items apple">
        <h3 class="fruits-items-title">Apple</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/apple.png  295w,
              /src/images/fruits/apple2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/apple.png"
            alt="Apple"
          />
        </div>
        <p class="fruits-items-price">50 UAH / kg</p>
      </li>
      <li class="fruits-items peach">
        <h3 class="fruits-items-title">Peach</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/peach.png  295w,
              /src/images/fruits/peach2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/peach.png"
            alt="Peach"
          />
        </div>
        <p class="fruits-items-price">80 UAH / kg</p>
      </li>
      <li class="fruits-items plum">
        <h3 class="fruits-items-title">Plum</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/plums.png  295w,
              /src/images/fruits/plums2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/plums.png"
            alt="Plum"
          />
        </div>
        <p class="fruits-items-price">40 UAH / kg</p>
      </li>
      <li class="fruits-items orange">
        <h3 class="fruits-items-title">Orange</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/orange.png  295w,
              /src/images/fruits/orange2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/orange.png"
            alt="Orange"
          />
        </div>
        <p class="fruits-items-price">60 UAH / kg</p>
      </li>
      <li class="fruits-items kiwi">
        <h3 class="fruits-items-title">Kiwi</h3>
        <p class="fruits-items-text">Plant</p>
        <div class="fruits-img-container top">
          <img
            class="fruits-items-img"
            srcset="
              /src/images/fruits/kiwi.png  295w,
              /src/images/fruits/kiwi2.png 590w
            "
            sizes="(min-width: 319px) 295px, 100vw"
            src="/src/images/fruits/kiwi.png"
            alt="Kiwi"
          />
        </div>
        <p class="fruits-items-price">90 UAH / kg</p>
      </li>
    </ul>

    <button class="btn-order" type="button" data-modal-open>
      <svg class="icon-arrow">
        <use href="/src/images/fruits/icons.svg#icon-arrow"></use>
      </svg>
      <span class="btn-order-text">Order</span>
    </button>
  </div>
</section>
