<div class="main-container">
  <div class="harvest-container">
    <div class="containerlayer">
      <h1 class="topline">Fresh Harvest Box has <br />got you covered</h1>
      <div class="fruit-container">
        <div class="fruit">
          <img class="fruit1" src="./images/honeydew.png" alt="honeydew" />
          <img class="fruit2" src="./images/blueberry.png" alt="blueberries" />
        </div>
      </div>
    </div>
    <div class="fruitinfosend">
      <div class="fruit-description">
        <p class="description">
          Our boxes are packed with delicious, nutritious fruits and vegetables,
          perfect for <br />
          looking to eat healthier or support local farmers. Order your box
          today and <br />
          enjoying the best that nature has to offer!
        </p>
      </div>
      <div class="mail">
        <form>
          <input type="text" placeholder="Enter email" class="enter-email" />
        </form>
        <button class="btn-send sendbutton">Send</button>
      </div>
    </div>
  </div>
</div>
