<div class="main-container">
  <div class="harvest-container">
    <div class="containerlayer">
      <h1 class="topline">Fresh Harvest Box has got you covered</h1>
      <div class="fruit-container">
        <div class="fruit">
          <img class="fruit1" src="./images/honeydew1.png" alt="honeydew" />
        </div>
        <div class="fruitfruit">
          <img class="fruit2" src="./images/blueberry.png" alt="blueberries" />
        </div>
      </div>
    </div>
    <div class="fruitinfosend">
      <div class="fruit-description">
        <p class="description">
          Our boxes are packed with delicious, nutritious fruits and vegetables,
          perfect for <br />
          looking to eat healthier or support local farmers. Order your box
          today and <br />
          enjoying the best that nature has to offer!
        </p>
      </div>
      <div class="mail1">
        <form class="mail">
          <label>
            <input type="email" class="enter-email" />
          </label>
        </form>
        <button class="sendbutton">Send</button>
      </div>
    </div>
  </div>
</div>
