<section class="how-it-works">
  <div class="how-it-works-container">
    <div class="how-to-order">
      <h2 class="to-order-title">
        To order your fruit basket,<br />Simply follow these easy steps
      </h2>
      <p class="h2-paragraph">
        Our basket are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home. whether you're looking for a healty snack or a thoughtful
        gift, our fruit basket are the perfect choice.
      </p>
    </div>

    <div class="how">
      <ul class="to-order">
        <li class="first-step">
          <h3 class="step">First Step</h3>
          <p class="step-how">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </li>
        <li class="second-step">
          <h3 class="step">Second Step</h3>
          <p class="step-how">Click on the basket and fill out the form.</p>
        </li>
        <li class="third-step">
          <h3 class="step">Third Step</h3>
          <p class="step-how">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </li>
      </ul>
    </div>
    <div class="gif-image">
      <img
        class="gif-main-image"
        src="https://s3-alpha-sig.figma.com/img/b08c/27c6/d1b10426e78244d4ff8987ecdcfb2d54?Expires=1702252800&Signature=qWWZLXFFvfRi5qD0NHNT0oPEDMNmQJsmMwJ0srRtMRNQFGabQfozqb41mPGP53oN1QN5A2NFABcHOnZEzR7x6kGTaXATO-9X8lM10jTX-GyqKM0laatkwAEmvHwMiOwmjmTEqbdjh3I3ON5O5xN8dIXf6nAQNBI8MD1Cn3RYBpKjhZCZslLQycYeSNmQRYWVFTnos37hZ-bOtRIaz8IL5nTgrUq4wRn5b4YGRuwQL2ThWEgbnCQwUgJQbj1PA5fkKDS3DtfXn-yZdoxBCFJ--pMLyB5h5w4O~JfGtdzICDoxjdqewjReHIsKwgu4ybiQNie6yhy8kClZ1munDL5VmA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt="fruit image"
      />
    </div>
  </div>
</section>
