<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modalmobile">
      <div class="modalbtn">
        <button class="modal-close-btn" data-modal-close>
          <svg class="redx">
            <use
              href="./images/icons.svg#redclose"
              width="28"
              height="28"
            ></use>
          </svg>
        </button>
      </div>

      <h4 class="modalheader">Your Order</h4>
    </div>
    <div class="basketcontainer">
      <div class="strawberrybasket basket">
        <label class="checkcontainer">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <h5 class="basket-fruit">Strawberry Basket</h5>
        <h6 class="basketplant">Plant</h6>
        <img
          class="basketpic"
          src="./images/strawberrybasket.png"
          width="173"
          height="196"
        />
      </div>
      <div class="applebasket basket">
        <label class="checkcontainer">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <h5 class="basket-fruit">Apple Basket</h5>
        <h6 class="basketplant">Plant</h6>
        <img
          class="basketpic"
          src="./images/applebasket.png"
          width="173"
          height="196"
        />
      </div>
      <div class="fruitbasket basket">
        <label class="checkcontainer">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        <h5 class="basket-fruit">Fruits Basket</h5>
        <h6 class="basketplant">Plant</h6>
        <img
          class="basketpic"
          src="./images/fruitbasket.png"
          width="173"
          height="196"
        />
      </div>
    </div>

    <div class="inputcontainer">
      <form class="service-form">
        <label for="name" class="service-label">
          <input
            placeholder="Enter full name.."
            type="text"
            class="service-input"
          />
        </label>

        <label for="email" class="service-label">
          <input
            placeholder="Enter email.."
            type="email"
            class="service-input"
          />
        </label>

        <label for="card" class="service-label">
          <input
            placeholder="Enter card.."
            type="number"
            class="service-input"
          />
        </label>

        <label for="comment" class="service-label">
          <textarea
            class="service-input-textarea"
            rows="8"
            placeholder="Enter comments..."
          ></textarea>
        </label>

        <button class="submitbutton">Submit</button>
      </form>
      <div class="modalimage">
        <img class="bananagirl" src="./images/girlwithbanana.png" width="471"
        height="458"
      </div>
    </div>
  </div>
</div>
